*
{
    
    margin: auto;
    padding: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body
{
    background-color:white;
}


header{
    background-color: #fbf4e1;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
.atas
{
    display: flex;
}

.imglogo img
{
  width: 150px;
  margin-left: -225px;
}

.slogan
{
    color: black;
    padding-top: 1px;
    font-size: 20px;
    padding-right: 400px;
}

.Search
{
    display: flex;
    justify-content: right;
    border-style: groove;
}

nav{
    background-color:black;
    display: flex;
    justify-content:space-around;
    padding-left: 400px;
    padding-top: 12px;
}

nav li{
    color: white;
    list-style-type: none;
    font-family: sans-serif;
    padding-bottom: 12px;
}

.list
{
    color: white;
}

.list:hover
{
    color: wheat;
}

.dropdown {
    float: left;
    overflow: hidden;
    margin: auto;
 }

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: wheat;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdown-content a:hover {
    background-color: #ddd;
} 

.dropdown:hover .dropdown-content {
    display: block;
}
/*header*/
.contacttext
{
   text-align: center;
   position: absolute;
   top: 800px;
   left: 40px;
   font-size: 30px;
   background-color: wheat;
   border: solid;
   width: 400px;
   border-radius: 50px;
}

.contactgambar
{
    background-image: url('../asset/callcenter1.png');
    height: 800px;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 50px;
}

.fill
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.form
{
    display: grid;
    margin: auto;
    width: 400px;
    border: solid;
}

.a
{
    padding-bottom: 50px;
}

.logo 
{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    font-size: 25px;
}

/*footer*/

footer
{
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.copyright
{
    margin: 15px;
    padding-top: 15px;
}
.footer2{
    display: flex;
    justify-content: space-between;
}
.sosmed
{
    background-color: wheat;
    display: flex;
    margin: 20px;
    justify-content: space-around;

}

.sosmed img 
{
    height: 40px;
    display: flex;
}


