*{
    margin: 0;
    padding: 0;
}


.header
{
    display: flex;
    background-color: #fbf4e1;
}

.slogan
{
    color: black;
    padding-top: 25px;
    font-size: 45px;
    padding-left: 350px;
}


.nav1{
    background-color:black;
    display: flex;
    justify-content:space-around;
    padding-left: 400px;
    padding-top: 12px;
}

nav li{
    color: white;
    list-style-type: none;
    font-family: sans-serif;
    padding-bottom: 12px;
}

.list
{
    color: white;
    bottom: 50px;
}

.list:hover
{
    color: wheat;
}

.home
{
    padding-top: 12px;
}

.gallery
{
    padding-top: 12px;
}

.reserve
{
    padding-top: 12px;
}

.dealer
{
    padding-top: 12px;
}

.contact
{
    padding-top: 12px;
}





nav img{
    width: 150px;
}

nav ul{
    list-style: none;
    width: 40%;
    font-style: italic;
    font-size: 40px;
    padding-right: 250px;
}


.dropdown {
    float: left;
    overflow: hidden;
    margin-top: -7px;
 }

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: wheat;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdown-content a:hover {
    background-color: #ddd;
} 

.dropdown:hover .dropdown-content {
    display: block;
}

main{
    max-width: 1024px;
    margin: auto;
}

main section h2{
    text-align: center;
    padding: 32px;
    margin: 32px auto;
    font-family: serif;
    font-style: oblique;
}

.Gallery-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
    font-family: serif;
    font-style: oblique;
    text-align: center;
}

.Gallery img{
    width: 80%;
    height: 60%;
    size: 150px;
}

.Gallery-grid2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
    font-family: serif;
    font-style: oblique;
    text-align: center;
    padding-bottom: 70px;
}

.Gallery2 img{
    width: 80%;
    height: 100%;
    size: 140px;
}

.upcomingeventext
{
    text-align: center;
    font-size: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-right: 95px;
}

.gridnewevent
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    padding-bottom: 20px;
}

.HERE
{
    color: rgb(52, 78, 196);
}

.newevent
{
    border-style: solid;
    width: 400px;
    border-radius: 20px;
    text-align: center;
}

footer
{
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.copyright
{
    margin: 15px;
    padding-top: 15px;
}
.footer2{
    display: flex;
    justify-content: space-between;
}
.sosmed
{
    background-color: wheat;
    display: flex;
    margin: 20px;
    justify-content: space-around;

}

.sosmed img 
{
    height: 40px;
    display: flex;
}